# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI Tests

on:
  push:
    branches:
      - master  # GitHub now defaults to 'main' as the name of the primary branch. Change this as needed.
  pull_request:
     branches: # only build on PRs against 'main' if you need to further limit when CI is run.
      - master

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: Python 3.11 with minimal dependencies
            os: ubuntu-latest
            python: 3.11
            toxenv: py311-test
            toxposargs: --remote-data=any

          - name: Python 3.11 with latest dev versions of key dependencies
            os: ubuntu-latest
            python: 3.11
            toxenv: py11-test-devdeps
            toxposargs: --remote-data=any

          - name: Test building of Sphinx docs
            os: ubuntu-latest
            python: 3.x
            toxenv: build_docs

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up python ${{ matrix.python }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox codecov
    - name: Install graphviz dependency
      if: ${{ contains(matrix.toxenv, 'build_docs') }}
      run: sudo apt-get -y install graphviz
    - name: Test with tox
      run: |
        tox -e ${{ matrix.toxenv }}
